<div class="container mb-4 mt-3">
    <div class="row">
        <div class="col-md-6">
            <h3>Support</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dolore iusto nihil voluptas, perspiciatis quidem dolorem sequi repellat deleniti</p>
            <button class="btn btn-secondary btn-sm"> Get Support  <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
        </div>
        <div class="col-md-6">
            <h3>Licensing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dolore iusto nihil voluptas, perspiciatis quidem dolorem sequi repellat deleniti</p>
                <button class="btn btn-secondary btn-sm"> View Licensing Details  <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
        </div>
    </div>
</div>