<app-menu></app-menu>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-12">
            <h2> <strong>CRD-State</strong> Call traffic Analysis And Alert Solution </h2>
        </div>
    </div>
    <hr>
    <div class="jumbotron">
        <h2 class="display-4">
            <img src="/assets/img/logo2.png" class="img-responsive main-comp-img" alt="">
            <b 
                style="color: rgb(0, 153, 255); font-weight: 700;" 
                class="ml-2">CRD</b>
            <span style="color: #ccc; font-size: 51px; font-weight: 500;">-State</span>
        </h2>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <h4><b>It uses utility classes for typography</b></h4>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>It uses utility classes for typography</li>
                    <li>It uses utility classes for typography</li>
                    <li>It uses utility classes for typography</li>
                    <li>It uses utility classes for typography</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>It uses utility classes for typography</li>
                    <li>It uses utility classes for typography</li>
                    <li>It uses utility classes for typography</li>
                </ul>
            </div>
        </div>
        <a class="btn btn-secondary btn-sm" href="#" role="button">Learn more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </div>
</div>
<app-footer></app-footer>
